ul {
    text-decoration: none;
    list-style-type: none;
}

section {
    background-color: var(--second-background);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

  /* Style the links inside the navigation bar */
  .navbar li {
    color: var(--text-color);
    font-size:var(--main-icon-size);
    padding: 18px 25px;
  }

  .navbar li a {
    color: var(--text-color);
  }


  /* Change the color of links on hover */
  .navbar li:hover,
  .navbar li:active,
  .navbar li:focus  {
    background-color: transparent;
    color: transparent;

  }

  /* Add a color to the active/current link */
  .navbar li a.active i {
    color: var(--first-color);
  }


  @media screen and (min-width: 650px) {

    #bottomNav {
        display: none;
    }

}
