@import url('../../../../assets/css/loader.css');

h2 {
    color: var(--text-color);
}

.organizar {
    width: 95%;
    margin: 0 auto;
    min-height: 85vh;
}

.favoritos-layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 2%;
    row-gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.favoritos-layout > *{

    height: 260px;
    width: 49%;
}


.paracargar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

.loader {
    border-width: 16px;
    border-top-width: 16px;
    width: 120px;
    height: 120px;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;

    margin-top: 10px;

    margin-bottom: 30px;


}

.pagination > * {
    width: 30%;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: var(--first-color);
    border: none;
    height: 3rem;
    width: 100%;
    font-size: var(--name-size);
    font-weight: 550;
    cursor: pointer;
    color: var(--text-color);
}

button:disabled {
    opacity: 0.5;
}



@media screen and (min-width: 650px) {

    .pagination {
        width: 300px;
    }


    .favoritos-layout{
        column-gap: 2%;
        min-height: 50vh;
    }

    .favoritos-layout > *{

        height: 250px;
        width: calc(94%/4);
    }
}


@media screen and (min-width: 900px) {

    .favoritos-layout{
        column-gap: 1%;
    }

    .favoritos-layout > *{
        width: calc(96%/5);
    }
}

@media screen and (min-width: 1199px) {

    .favoritos-layout > *{
        width: calc(95%/6);
    }
}
