@import url("../../../../assets/css/formularios.css");
@import url("../../../../assets/css/loader.css");


.forgotpass {
    margin-top: 10px;
}

.registrarse {
    font-weight: 700;
}

.loader {
    width: 30px;
    height: 30px;
}


@media screen and (min-width: 500px) {
    .login-layout {
        width: min(500px, var(--tamano-maximo));
    }
    .titulo {

        font-size: 3rem;
    }
    .logo-img {
      height: 2.5rem;
    }
}

