:host {
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

  .todooscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    overflow: auto;
  }

  /* Modal Content */
  .modal-content1 {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    z-index: 2;
    position: relative;
    max-width: var(--tamano-maximo);


    /* pointer-events: auto; */
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  .permitir-scroll {
    height: max-content;
    max-height: 60vh;
    overflow-y: scroll;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Lista customizable */


  .custom-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .custom-list > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

    ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    row-gap: 10px;
    column-gap: 5%;
    background-color: rgba(238, 238, 238, 0.3);
    border-radius: var(--border-radius);
    padding: 10px;
  }

    li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888;
    font-weight: 700;
    border-radius: var(--border-radius);
    height: 60px;
  }



  /* size-select */

  .sizes > li {
    background-color: rgb(187, 187, 187);
    width: 47.5%;
  }

  .sizes .size_small {
    font-size: 12px;
  }

  .sizes .size_normal {
    font-size: 14px;
  }

  .sizes .size_large {
    font-size: 16px;
  }

  .sizes .size_xlarge {
    font-size: 18px;
  }


  /* Colores */


  .colors > li {
    flex-grow:0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .colors .color_red {
    background-color: red;
  }

  .colors .color_blue {
    background-color: blue;
  }

  .colors .color_orange {
    background-color: orange;
  }




/* Imagen de fondo */

.images > li {
    width: 100%;
  }

.images .image_day {
    background-color: rgb(255, 255, 255);
}

.images .image_night {
    background-color: rgb(45, 45, 45);
}



    /* Variables utilizables */

    .control {
        display: block;
      }


@media screen and (min-width: 650px) {

    .modal-content1 {
        width: 635px;
    }

    .sizes > li {
        flex-grow: 1;
        width: auto;
    }

    .images > li {
        width: auto;
    }
        ul {
            gap: 20px;
        }

        li {
            flex-grow: 1;
        }
    }
