* {
    color: var(--text-color);
}

.form-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: var(--name-size);
}


input[type = text],
input[type = password]{
    color: var(--text-color);
    background: var(--submain-color);
    border: none;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    font-size: var(--name-size);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: var(--first-color);
    border: none;
    height: 2.5rem;
    width: 100%;
    font-size: var(--name-size);
    font-weight: 550;
}

h2 {
    font-size: var(--title-size);
}



