<form class="form-layout" autocomplete="off" [formGroup]="passwordForm" (ngSubmit)="changePass()">
    <h2>Cambiar contraseña</h2>
    <section class="imputs-layout">
        <div class="group">
            <input type="password" formControlName="oldPassword" class="input" required="" />
            <span class="bar"></span>
            <label>Contraseña actual</label>
        </div>

        <div class="group">
            <input type="password" formControlName="password" class="input" required="" />
            <span class="bar"></span>
            <label>Nueva contraseña</label>
        </div>
    </section>

    <button type="submit" [disabled]="passwordForm.invalid">
        <div *ngIf="load" class="loader"></div>
        <span *ngIf="!load">Actualizar</span>
    </button>
</form>

<section class="errors" *ngIf="errors.length !== 0">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</section>

<section class="exito" *ngIf="exito">
    <p>Contraseña actualizada con exito!</p>
</section>
