<section class="inicio">
    <h1>La mejor página de animes</h1>
    <div class="botones">
        <button routerLink="browse">Browse</button>
        <button routerLink="login">Ingresar</button>
    </div>
</section>

<section class="p3-creadores">
    <h3 class="titulo-footer">Información proporcionada por:</h3>

    <div class="kitsu">
        <img class="kitsuimg" src="../../../../assets/kitsu_logo.webp" alt="" />

        <ul>
            <li>
                <span>Web: https://kitsu.io/explore/anime </span>
            </li>
            <li>
                <span>API: https://kitsu.docs.apiary.io/ </span>
            </li>
        </ul>
    </div>
</section>
