<app-carrousel [animes]="trendings" [title]="'Tendencias'" [small]="false"></app-carrousel>

<app-carrousel [animes]="action" [title]="'Acción'" [small]="false"></app-carrousel>
<app-carrousel [animes]="vampire" [title]="'Vampire'" [small]="false"></app-carrousel>
<app-carrousel [animes]="adventure" [title]="'Adventure'" [small]="false"></app-carrousel>

<app-carrousel [animes]="mistery" [title]="'Mistery'" [small]="false"></app-carrousel>
<app-carrousel [animes]="supernatural" [title]="'Supernatural'" [small]="false"></app-carrousel>
<app-carrousel [animes]="drama" [title]="'Drama'" [small]="false"></app-carrousel>
