<div class="contenido_del_footer">
    <section class="layout-footer">
        <div class="p1-description">
            <h4 class="titulo-footer">Descripción</h4>
            <p>
                Ukianime se encarga de brindarte los mejores anime con un servicio de calidad, en el cual no tendrás
                problemas para encontrar los mejores animes.
            </p>
        </div>

        <div class="p2-paginas">
            <h4 class="titulo-footer">Quienes somos</h4>
            <div class="lista-paginas">
                <div>
                    <a href="acerca.html">Acerca De</a>
                    <hr />
                </div>

                <div>
                    <a href="contacto.html">Contactos</a>
                    <hr />
                </div>

                <div>
                    <a href="contacto.html">Categorias</a>
                    <hr />
                </div>
            </div>
        </div>

        <div class="p3-creadores">
            <h4 class="titulo-footer">Creadores</h4>
        </div>
    </section>
</div>

<div class="barra">
    <div class="contenidoBarra">
        <h1>Logo</h1>
        <h2>Fecha</h2>
    </div>
</div>

<div *ngIf="auth" class="espacio"></div>
