<form class="form-layout" autocomplete="off" [formGroup]="rest3Form" (ngSubmit)="submit()">
    <h2>Restablecer contraseña</h2>

    <input type="password" formControlName="password" placeholder="Nueva contraseña" />

    <button type="submit" [disabled]="rest3Form.invalid" class="button">
        <div *ngIf="load" class="loader"></div>
        <span *ngIf="!load">Restablecer</span>
    </button>
    <a class="registrarse" routerLink="/login">Salir</a>
</form>

<section class="errors" *ngIf="errors.length !== 0">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</section>
