<form class="form-layout" autocomplete="off" [formGroup]="registroForm" (ngSubmit)="registro()">
    <h2>Registro</h2>

    <input type="text" formControlName="firstname" placeholder="Nombre" />
    <input type="text" formControlName="username" placeholder="Usuario" />
    <input type="password" formControlName="password" placeholder="Contraseña" />

    <button type="submit" [disabled]="registroForm.invalid" class="button">
        <div *ngIf="load" class="loader"></div>
        <span *ngIf="!load">Registrarse</span>
    </button>

    <span>¿Ya tienes una cuenta? <a class="registrarse" routerLink="../login">Ingresar</a></span>
</form>

<section class="errors" *ngIf="errors.length !== 0">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</section>
