@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('../../../../assets/css/logo.css');


.auth {
    background-color: var(--main-background);
    min-height: 100vh;
    padding-top: 5vh;
}

.auth-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: min(100%, var(--tamano-maximo));
    padding: 20px;
}

.auth-page {
    width: 100%;
}


@media screen and (min-width: 500px) {

    .auth-page  {
        width: min(350px, var(--tamano-maximo));
    }
}

