@import url('../../../../assets/css/formularios.css');

a {
    color: var(--text-color);
    height: 100%;
    width: 100%;
    line-height: 2;
}

h2 {
    color: var(--text-color);

}

p {
    margin: 5px 0;
}
.user-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--submain-color);
    border-radius: var(--border-radius);
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.account-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.opciones > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--submain-color);
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: center;
}


.body-options {
    width: 100%;
    padding: 0px;

}

.pruebaa {
    width: 100%;
}


.body-select {
    width: 100%;
}

li.active {
    border: 2px solid var(--first-color);
}



@media screen and (min-width: 800px) {

    .body-options {
        width: 70%;
        padding: 50px;
    }

    .pruebaa {
        width: 75%;
    }


    .body-select {
        width: 30%;
    }
}

