<main>
    <h2>Ajuste de cuenta</h2>
    <hr />
    <section class="account-layout">
        <ul class="opciones">
            <li><a routerLink="perfil">Perfil</a></li>
            <li><a routerLink="cambiar-pass">Cambiar Contraseña</a></li>
            <li><a routerLink="preguntas">Actualizar Preguntas</a></li>
            <li><a routerLink="desactivar">Desactivar cuenta</a></li>
            <li><a routerLink="eliminar">Eliminar cuenta</a></li>
        </ul>

        <div class="body-options">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>
