<form class="form-layout" autocomplete="off" [formGroup]="profileForm" (ngSubmit)="update()">
    <h2>Actualizar su perfil</h2>
    <section class="imputs-layout">
        <div class="group">
            <input type="text" formControlName="firstname" class="input" required="" />
            <span class="bar"></span>
            <label>Nombre</label>
        </div>

        <div class="group">
            <input type="text" formControlName="lastname" class="input" required="" />
            <span class="bar"></span>
            <label>Apellido</label>
        </div>
    </section>

    <button type="submit">
        <div *ngIf="load" class="loader"></div>
        <span *ngIf="!load">Actualizar</span>
    </button>
</form>

<section class="errors" *ngIf="errors.length !== 0">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</section>

<section class="exito" *ngIf="exito">
    <p>Datos actualizados con exito!</p>
</section>
